.bgIcon,
.wrapperBg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

.bgIcon {
  overflow: hidden;
  object-fit: contain;
  top: 4px;
  transform: scale(1.263);
}
.wrapperBg {
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.specialOffers {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  z-index: 1;
}
.span1 {
  background: linear-gradient(180deg, #0b92e6, #f5f5f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.span {
  font-size: 60px;
}
.upTo50Container {
  align-self: stretch;
  position: relative;
  font-weight: 800;
  z-index: 2;
  margin-top: -5px;
}
.content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.hurryUpOffers {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.div {
  height: 80.7px;
  width: 80.7px;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 8.4px;
  background: linear-gradient(180deg, #0e8ad7, #0467a4);
  display: none;
}
.placeholder {
  width: 75.6px;
  position: relative;
  line-height: 100%;
  font-weight: 800;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.digits {
  flex: 1;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 8.4px;
  background: linear-gradient(180deg, #0e8ad7, #0467a4);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 22.7px 1px 20.7px;
  box-sizing: border-box;
  min-width: 53px;
  z-index: 1;
}
.b {
  width: 11px;
  position: relative;
  line-height: 130%;
  text-transform: capitalize;
  display: inline-block;
  z-index: 1;
}
.digits1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10.1px 0 0;
}
.div2 {
  flex: 1;
  position: relative;
  line-height: 100%;
  font-weight: 800;
  z-index: 2;
}
.digits2 {
  flex: 1;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 8.4px;
  background: linear-gradient(180deg, #0e8ad7, #0467a4);
  padding: 22.7px 2px 20.7px;
  box-sizing: border-box;
  min-width: 53px;
  z-index: 1;
}
.digits2,
.digits4,
.digitsWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.digits4 {
  flex: 1;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 8.4px;
  background: linear-gradient(180deg, #0e8ad7, #0467a4);
  padding: 22.7px 1px 20.7px 4px;
  box-sizing: border-box;
  min-width: 53px;
  z-index: 1;
}
.digitsWrapper {
  align-self: stretch;
  gap: 4.9px;
}
.days {
  width: 73.6px;
  position: relative;
  line-height: 130%;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.value,
.valueWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.value {
  width: 375.8px;
  justify-content: space-between;
  gap: 20px;
}
.valueWrapper {
  justify-content: flex-end;
  padding: 0 2px 0 3px;
  box-sizing: border-box;
  font-size: 13.4px;
}
.timerContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 3.4px;
  max-width: 100%;
}
.smallBanner,
.timerContentWrapper,
.timerWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.timerContentWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 26px 0 20px;
  box-sizing: border-box;
  font-size: 35.2px;
}
.smallBanner,
.timerWrapper {
  flex-direction: column;
  justify-content: flex-start;
}
.timerWrapper {
  align-self: stretch;
  gap: 15px;
  font-size: 30px;
}
.smallBanner {
  flex: 1;
  padding: 39px 0 34.9px;
  box-sizing: border-box;
  position: relative;
  gap: 35px;
  min-width: 377px;
}
.productOptions,
.productOptionsWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.productOptions {
  width: 1176px;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 15px;
}
.productOptionsWrapper {
  width: 1468px;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 40px;
  color: #fff;
  font-family: Montserrat;
}
@media screen and (max-width: 950px) {
  .specialOffers,
  .upTo50Container {
    font-size: 32px;
  }
  .hurryUpOffers {
    font-size: 24px;
  }
  .b,
  .div2,
  .placeholder {
    font-size: 28px;
    line-height: 28px;
  }
  .b,
  .div2 {
    line-height: 37px;
  }
  .div2 {
    line-height: 28px;
  }
}
@media screen and (max-width: 450px) {
  .specialOffers,
  .upTo50Container {
    font-size: 24px;
  }
  .hurryUpOffers {
    font-size: 18px;
  }
  .b,
  .div2,
  .placeholder {
    font-size: 21px;
    line-height: 21px;
  }
  .b,
  .div2 {
    line-height: 27px;
  }
  .div2 {
    line-height: 21px;
  }
  .digitsWrapper,
  .value {
    flex-wrap: wrap;
  }
  .smallBanner {
    min-width: 100%;
  }
}
