.header {
    width: 100%;
    height: 400px;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    line-height: normal;
    letter-spacing: normal;
  }
  
  .headerChild {
    position: absolute;
    top: 173px;
    left: 1141px;
    border-radius: 5px;
    width: 183px;
    height: 40px;
    display: none;
  }
  
  /* “Active” Bars */
  .active {
    position: absolute;
    top: 2036.3px;
    left: 627px;
    border-radius: 20px;
    background: linear-gradient(180deg, #0467a4, #0e8ad7);
    width: 52px;
    height: 14.4px;
    z-index: 2;
  }
  .activeState {
    position: absolute;
    top: 2036.3px;
    left: 690px;
    border-radius: 20px;
    background-color: #313c54;
    width: 34px;
    height: 14.4px;
    z-index: 2;
  }
  .activeState1 {
    position: absolute;
    top: 2036.3px;
    right: 671px;
    border-radius: 20px;
    background-color: #313c54;
    width: 34px;
    height: 14.4px;
    z-index: 2;
  }
  .activeState2 {
    position: absolute;
    top: 2036.3px;
    right: 627px;
    border-radius: 20px;
    background-color: #313c54;
    width: 34px;
    height: 14.4px;
    z-index: 2;
  }
  
  /* Arrows */
  .arrowIcon {
    position: absolute;
    right: 118px;
    bottom: 3204.8px;
    width: 54px;
    height: 51.7px;
    z-index: 2;
  }
  .arrowIcon1 {
    position: absolute;
    height: 2.75%;
    width: 3.75%;
    top: 48.83%;
    right: 51.81%;
    bottom: 48.42%;
    left: 44.44%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
    display: none;
  }
  
  /* Images */
  .image1 {
    position: absolute;
    top: 2759px;
    left: 91px;
    width: 338px;
    height: 338px;
    display: none;
  }
  
  .image6Icon {
    position: absolute;
    left: calc(50% - 676px);
    width: 1352px;
    height: 338px;
    object-fit: cover;
  }
  