.swiper-wrapper {
    margin-top: 10%;
}
@media (max-width: 768px) {
    .swiper-wrapper {
        margin-top: 10%;
    }

}
@media (max-width: 480px) {
    .swiper-wrapper {
        margin-top: 15%;
    }

}

.button-main{
    background-color: #0D81C7;
    color: #fff;
    border: none;
}